body html
  line-height: 1
  font-weight: 200
  font-family: 'PingFang PC', 'STHeitiSC-Light', 'Helvetica-Light',Arial, Helvetica, sans-serif
  
@media(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      transform: scaleY(0.7)
      -webkit-transform: scaleY(0.7)

@media(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      transform: scaleY(0.5)
      -webkit-transform: scaleY(0.5)

@media(-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
  .border-1px
    &::after
      transform: scaleY(0.33)
      -webkit-transform: scaleY(0.33)

.clearfix
  display inline-block
  &:after
    display block
    content '.'
    height 0
    line-height 0
    visibility hidden